body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page in the background */
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bfe0f7;
}

/* card in the middle */
.card {
  width: 280px;
  background-color: #ef6f6c;
  box-shadow: 0 5px 25px #00000055;
}

/*add inputs from AddInputItem */
.add-row {
  padding: 16px;
}

.add-input-wrap {
  display: flex;
  align-items: center;
  background-color: #ffd0ccff;
  border-radius: 5px;
  padding: 0px 5px;
}

.add-input {
  flex: 1;
  background: #00000000;
  border: none;
  outline: none;
  color: #ef6f6c;
  font-size: 16px;
}

.add-input::placeholder {
  color: #ef6f6c;
}

.add-btn {
  background: #00000000;
  border: none;
  color: #ef6f6c;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 32px;
  line-height: 1;
}

.add-btn.active {
  color: #ffffff;
}

/* ShoppingItem items */
.items {
  padding: 4px 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item-row {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 12px;
  border-bottom: 1px solid #eeeeee;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid #ffffff;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #ef6f6c;
}

.checkbox.checked {
  background-color: #ffffff; 
}

.item-name {
  flex: 1;
  color: #ffffff;
  font-size: 16px;
}

.item-name.done {
  text-decoration: line-through;
  opacity: 0.8;
}

/* quatity control items */
.quantity-control {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 2px 5px;
}

.quantity-btn {
  background: transparent;
  border: none;
  color: #ef6f6c;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 18px;
  font-weight: 600;
}

.quantity-value {
  color: #ef6f6c;
  font-weight: 600;
  font-size: 14px;
  width: 16px;
  text-align: center;
}


/* delete button */
.delete-btn {
  background: #00000000;
  border: none;
  color: #efefef;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
}

.delete-btn:hover {
  color: #ffffff;
}

/* blank space */
.empty-state {
  margin: 8px 4px;
  padding: 16px;
  text-align: center;
  color: #ffffffd9;
  font-size: 14px;
}

/* total text */
.total-row {
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
}

.total-text {
  color: #ffffff;
  font-size: 15px;
}